[submodule "csharp-dictionary-japanese"]
	path = csharp-dictionary-japanese
	url = https://github.com/bernardlawes/csharp-dictionary-japanese.git
[submodule "csharp-journal"]
	path = csharp-journal
	url = https://github.com/bernardlawes/csharp-journal.git
[submodule "csharp-peripherals"]
	path = csharp-peripherals
	url = https://github.com/bernardlawes/csharp-peripherals.git
	path = csharp-networking
	url = https://github.com/bernardlawes/csharp-networking.git
[submodule "csharp-encryption"]
	path = csharp-encryption
	url = https://github.com/bernardlawes/csharp-encryption.git
[submodule "csharp-sqlite-jisho"]
	path = csharp-sqlite-jisho
	url = https://github.com/bernardlawes/csharp-sqlite-jisho.git
